.trackPropName {
  color: aquamarine;
  font-weight: 600;
  text-transform: capitalize;
}

.trackPropSingleName {
  composes: trackPropName;
  color: orange;
}

.trackProp:nth-child(2) {
  margin-block: 1em;
}
